@media (min-width: 576px) {
  .ml-mr {
    margin-left: 20px;
    margin-right: 20px;
  }
  .login {
    width: 88px;
  }
  .login input {
    font-size: 15px;
    width: 78px;
  }
  .register input {
    font-size: 15px;
    width: 100px;
  }
  .register {
    width: 40px;
  }
  .phone {
    font-size: 15px;
  }
  .phone i {
    font-size: 11px;
  }
  .logo {
    width: 40%;
    font-size: 35px;
  }
  .sub-logo {
    top: 30px;
    font-size: 17px;
    width: 17px;
  }
  .line {
    width: 65px;
    top: 18px;
  }

  .menu {
    display: none;
  }
  .sub-header {
    margin: 25px 0;
  }
  .sub-header .menubar {
    width: 59%;
    font-size: 25px;
  }
  .sub-header .menubar i {
    height: 23px;
    width: 30px;
  }
  .banner-heading {
    width: 90%;
    height: 250px;
  }
  .banner-heading h3 {
    font-size: 46px;
  }
  .row-welcome-grid {
    margin: 40px 20px;
  }
  .col3 {
    width: 100%;
  }
  .col3 h1 {
    text-align: start;
  }
  .col4 {
    width: 44%;
    height: 555px;
  }

  .row{
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px;
}

.grid-1{
    height: auto ;
    margin-top: 0px;
}
.grid-2{
  width: 100%;
}
.margin{
  margin-left: 5%;
  margin-right: 5%;
}
.servics-all{
  width: 46%;
  }


  /*  */
  .organizer {
    background: #17a2b8;
    height: auto;
    
  }
  .org{
    margin-left: 5%;
    margin-right: 5%;
  }
  .org h3 {
    font-size: 28px;
    font-weight: 600;
  }
  .org p {
    width: 100%;
  }
  .detail {
    justify-content: space-between;
}
  .detail .venue {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .position-img1{
    position: static;
    left: 0;
    margin-left: 7%;
    width: 41%;
    padding-bottom: 25px;
  }
  .position-img1 img {
    width: 100%;
}
  .position-img2{
    position: static;
    right: 0;
    width: 41%;
    margin-right: 7%;
    padding-bottom: 25px;
  }
  .position-img2 img {
    width: 100%;
}
.margin-1 {
  margin-left: 2%;
  margin-right: 2%;
}
.heading-commit {
  margin: 100px 0 44px 20px;
}
.row-grid{
  grid-template-columns: repeat(3, 1fr);
}
.team-caption {
  bottom: 71px;
}
.px-1 h4 {
  font-size: 21px;
}
.clients-header{
  font-size: 20px;
}
.row-client .item1 {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.button input {
  width: 75%;
}
.icon-but {
  right: 53px;
}
.wd-30 {
  width: 43%;
}
.wd-40 {
  width: 42%;
  padding: 0px 30px;
}
.insta-img img {
  width: 43px;
}

}
